<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Verification Request</title>
  <style type="text/css">
    /* Your CSS styles here */
    body {
      margin: 0;
      padding: 0;
      min-width: 100%;
      font-family: Arial, sans-serif;
      font-size: 16px;
      line-height: 1.5;
      background-color: #f4f7f6;
      color: #333333;
    }

    a {
      color: #0070f3;
      text-decoration: none;
      border: none;
    }

    h1 {
      font-size: 24px;
      font-weight: 700;
      line-height: 1.25;
      margin-top: 0;
      margin-bottom: 20px;
      text-align: center;
      color: #fff;
    }

    h2 {
      font-size: 28px;
      font-weight: 700;
      margin-top: 20px;
      margin-bottom: 10px;
      text-align: center;
      color: #333333;
    }

    p {
      margin-top: 0;
      margin-bottom: 20px;
      color: #555555;
    }

    table td {
      vertical-align: top;
    }

    .email-wrapper {
      max-width: 600px;
      margin: 0 auto;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      background-color: #ffffff;
    }

    .email-header {
      background-color: #0070f3;
      padding: 24px;
      color: #ffffff;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }

    .email-body {
      padding: 24px;
    }

    .email-footer {
      background-color: #f6f6f6;
      padding: 24px;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
    }

    .button {
      display: inline-block;
      background-color: #0070f3;
      color: #ffffff;
      font-size: 16px;
      font-weight: 700;
      text-align: center;
      text-decoration: none;
      padding: 12px 24px;
      border-radius: 4px;
    }
  </style>
</head>

<body>
  <div class="email-wrapper">
    <div class="email-header">
      <h1>Verification Request</h1>
    </div>
    <div class="email-body">
      <p>Hello Admin,</p>
      <p>A new verification request has been submitted by <span>
          <%= user.name %>
        </span>. Please review and approve.</p>
      <p>Message from <%= user.username %>: <%= message %>
      </p>
      <p>User ID: <%= user._id %>
          <p>Location: <%= address %>
          </p>
          <button class="button"><a href="https://work-iq.vercel.app/admin/approve/verify/<%= token %>">Approve
              Verification</a></button>
    </div>
    <div class="email-footer">
      <p>If you have any questions, please don't hesitate to contact us at <a
          href="mailto:musamuhammedolayinka@gmail.com">Support</a>.</p>
    </div>
  </div>
</body>

</html>